@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* --- GENERAL --- */

h1 {
  color: #EDCD9C
}

/* Navbar */
#navbarNav {
  justify-content: flex-end;
}

.navbar-nav {
  width: 70%;
  justify-content: space-around;
}

li a {
  text-decoration: none;
  color: #333333;
}

.container-fluid {
  background-color: #FFFFFF
}

/* Switch */
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: #333333;
}

                                                            /* --- DARK MODE --- */
#dark {
  background-color: #1E1E1E;
}

/* Navbar */
#dark .container-fluid{
  background-color: #1E1E1E;
}

#dark li a{
  color: #878787;
}

/* Switch */
#dark .label {
  color: #878787;
}

@media only screen and (min-width: 1200px) {
  #dark {
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .switch {
    margin-bottom: 1em;
  }
}